<div class="container">
    <div class="row">
        <div class="col md-4">
            <h3>Formulario</h3>
            <form class="mt-5" [formGroup]="formulario" (ngSubmit)="save()" autocomplete="off">
                <div class="mb-2">
                    <label for="tipo">Tipo</label>
                    <input id="tipo" type="text" placeholder="Tipo" class="form-control" formControlName="tipo">
                </div>
                <div class="mb-2">
                    <label for="valor">Valor</label>
                    <input id="valor" type="number" placeholder="Valor" class="form-control" formControlName="valor">
                </div>
                <div class="text-end"></div>
                <button class="btn btn-primary">Guardar</button>
            </form>
        </div>
        <div class="col-md-8">
            <h3>Catalogos</h3>
            <table class="table table-hover mt-5">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let catalogo of catalogos">
                        <td>{{catalogo.tipo}}</td>
                        <td>{{catalogo.valor}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
